/* * {
    color: white;
    background-color: black;

}
*/
body{
    background-color: black;
}
button{
    font-size: 30px;
    background-color: red;
}
h1, h2{
    color: red;
}
#signup{
    background-color: darkred;
    color: whitesmoke;
}

span a{
    color: peru
}

footer a{
    color: lightblue;
}