.circle {
  width: 300px;
  height: 300px;
  background-color: magenta;
  transition: all 1s 1s;
}

.circle:hover {
  background-color: green;
  border-radius: 50%;
}

section div {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: 20px 0;
  transition: margin-left 1.5s;
}

section:hover div {
  margin-left: 500px;
}

div:nth-of-type(1) {
  transition-timing-function: ease-in;
}

div:nth-of-type(2) {
  transition-timing-function: ease-out;
}

div:nth-of-type(3) {
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

div:nth-of-type(4) {
  transition-timing-function: easeoutelastic;
}
