span {
  background-color: palevioletred;
  border: 10px black;
  width: 500px;
  padding: 10px;
  margin: 50px;
}
h1 {
  background-color: red;
  border: 10px black;
  width: 500px;
  padding: 50px;
  margin: 50px;
  display: none;
}
div {
  height: 200px;
  width: 200px;
  background-color: olivedrab;
  border: 5px solid black;
  display: inline-block;
  margin: 50px;
}
