section {
  width: 80%;
  height: 800px;
  color: darkred;
  /* background-image: url("https://image.shutterstock.com/image-photo/white-lipped-tree-frong-flying-260nw-2029441154.jpg"); */
  /* background-size: cover; */
  background: center 20% no-repeat
    url("https://image.shutterstock.com/image-photo/white-lipped-tree-frong-flying-260nw-2029441154.jpg")
    blue;
  background-color: gray;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color: white;
}
h2 {
  font-size: 70px;
  color: palegoldenrod;
}
