body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: darkslategray;
}

button {
  background: none;
  color: darkmagenta;
  border: 4px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

button:hover {
  border-color: #ffa5c0;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffa5c0;
  transform: translateY(-0.45em);
  cursor: pointer;
}
